// Fuentes
$fuente-principal: "Montserrat", sans-serif;

// Tamaño de Media Queries
$telefono: 400px;
$tablet: 750px;
$desktop: 1200px;

// Colores
$accent-color: #7c4ee6;
$background-color: #3e91df;
$background-color-2: #23a6e3;
$light-grey: rgb(194, 194, 194);

$border-radius: 30px;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900